PORT=3000
MONGODB_URI=mongodb://localhost:27017/microblog
SESSION_SECRET=seu_segredo_super_secreto_aqui
NODE_ENV=development
New-Item .env
Set-Content .env "PORT=3000`nMONGODB_URI=mongodb+srv://anasilva2021_db_user:moreira@cluster0.j2oxs1x.mongodb.net/microblog?appName=Cluster0`nSESSION_SECRET=microblog_secret_123`nNODE_ENV=development"